<html>
    <head>
        <title>Formulaire</title>
    </head>
    <body>
        <form action="/submit_form" method="get">

            
            prenom: <input type="text" name="prenom" value="" />
            <br />
            nom: <input type="text" name="nom" value="" />
            <br />
            numero etudiant: <input type="text" name="numero" value="" />
            <br />
            note en math: <input type="text" name="math" value="" />
            <br />
            note en sciences: <input type="text" name="sciences" value="" />
            <br />
            note en francais: <input type="text" name="francais" value="" />
            <br />
            note en anglais: <input type="text" name="anglais" value="" />
            <br />
            note en histoire: <input type="text" name="histoire" value="" />
            <br />


            <input type="submit" value="Submit" />


        </form>
    </body>
</html>
